*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* grid */

.container  {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: .5em;
}

.chart {
    
}

/* .container {
    display: flex;
    flex-wrap: wrap;
}

.chart {
    flex-grow:1;
    flex-basis: auto;
} */

.chart1 {
    background: red;
    width: 200px;
    height: 200px;
}
.chart2 {
    background: blue;
    width: 200px;
    height: 200px;

}

.chart3{
    background:  green;
    width: 200px;
    height: 200px;

}

.chart4 {
    background:  yellow;
    width: 200px;
    height: 200px;

}